*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);	/
}

header{
    background-color: #ecf3f319;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#imagem-principal {
    width: 10%;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #0d0d0e;
    display: block;
}

h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    text-align: center; 
    text-decoration: double;
    position: relative; 
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid;  #0f1942;
    padding: 2%;
    background-color: #5a53528a;
   
}

nav {
    position: absolute;
    bottom: auto;
    top: 38%;
    right: 10%;
    margin-left: 45%;
    font-size: 30px; font-family: monospace;
    }

.principal{
	
    font-size: 40px;
    text-align: center;
    margin: 8%;
    border: 2px solid #0f1942;
    padding: 30px;
    border-radius: 40px 20px;
    background-color: #e9e9e800;
    font-family: 'Fredericka the Great', cursive;
    color: #0f1942;
  }

h2{
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 25px;
   }

p{
    text-align: justify;
    margin: 0 5px 0 25px;
}
    
nav ul{
    display: block;
    text-align: end;
    margin-bottom: auto;
}

nav li{
    display: inline;
   }

nav a{
    text-decoration: none;
    color: rgba(255, 0, 43, 0.712);
    font-size: 100%;
}

.home{
    margin-top: 10%;
    text-decoration: none;
      background-color: white;
      color: #32CD32;
      padding: 12px;
      display: inline-block;
      font-family: arial, sans-serif;
      position: relative;
      border-radius: 5%;